n8n/research_workflow.json
{
  "name": "Research Assistant Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "research",
        "options": {}
      },
      "id": "Webhook_1",
      "name": "Webhook (trigger)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "research-webhook"
    },
    {
      "parameters": {
        "url": "http://agents:8000/research",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={ \"query\": $json[\"topic\"] }"
      },
      "id": "HttpRequest_1",
      "name": "Call Agent API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [550, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "RespondToWebhook_1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook (trigger)": {
      "main": [
        [
          {
            "node": "Call Agent API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agent API": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
